<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Silence verbose Accumulo / Hadoop / ZooKeeper output -->
  <logger name="org.apache.accumulo" level="WARN"/>
  <logger name="org.apache.hadoop"   level="WARN"/>
  <logger name="org.apache.zookeeper" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
